# ======================
# Spring Boot - Maven
# ======================
HELP.md
target/
**/target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# Gradle / NetBeans
build/
!**/src/main/**/build/
!**/src/test/**/build/
.nb-gradle/
nbbuild/
nbdist/
**/dist/
nbproject/private/

# STS / Eclipse
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# IntelliJ
.idea/
*.iml
*.ipr
*.iws

# VS Code
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# ======================
# Angular
# ======================

# Build output
#**/dist/
**/tmp/
**/out-tsc/
**/bazel-out/

# Node modules
**/node_modules/
npm-debug.log
yarn-error.log

# Angular cache
**/.angular/cache/
.sass-cache/
.connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings
.history/*

# System files
.DS_Store
Thumbs.db

# ============================
# Python projects under backend/
# ============================

# Virtual environments
backend/**/.venv/
backend/**/env/
backend/**/venv/

# Byte-compiled / cache files
backend/**/__pycache__/
backend/**/**/*.py[cod]
backend/**/*.py[cod]

# Editor & IDE folders
backend/**/.idea/
backend/**/.vscode/

# Log, DB, temporary & runtime files
backend/**/*.log
backend/**/*.db
backend/**/*.sqlite3

# Jupyter Notebook checkpoints
backend/**/.ipynb_checkpoints/

# Testing & coverage tools
backend/**/.mypy_cache/
backend/**/.pytest_cache/
backend/**/htmlcov/
backend/**/.coverage
backend/**/.cache/

# Distribution / packaging
backend/**/build/
backend/**/dist/
backend/**/*.egg-info/

# Docker
docker/pgadmin4-data/
docker/postgres-data/
docker/mysql-data/